<!DOCTYPE html>
<html lang="en">
<head>
    <title>CodeX</title>
     {% load static %}
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Bootstrap Documentation Template For Software Developers">
    <meta name="author" content="Xiaoying Riley at 3rd Wave Media">    
    <link rel="shortcut icon" href="favicon.ico"> 
    
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap" rel="stylesheet">
    
    <!-- FontAwesome JS-->
	  <link id="theme-style" rel="stylesheet" href="{% static "assets/fontawesome/js/all.min.js" %}">

    <!-- Theme CSS -->  
<!--    <link id="theme-style" rel="stylesheet" href="assets/css/theme.css">-->
	<link id="theme-style" rel="stylesheet" href="{% static "assets/css/theme.css" %}">

</head> 

<body>    
   {% include "layout/header.html" %}
    <div class="page-header theme-bg-dark py-5 text-center position-relative">
	    <div class="theme-bg-shapes-right"></div>
	    <div class="theme-bg-shapes-left"></div>
	    <div class="container">
		    <h1 class="page-heading single-col-max mx-auto">Documentation</h1>
		    <div class="page-intro single-col-max mx-auto">Everything you need to get your software documentation online.</div>
		    <div class="main-search-box pt-3 d-block mx-auto">
                 <form class="search-form w-100">
		            <input type="text" placeholder="Search the docs..." name="search" class="form-control search-input">
		            <button type="submit" class="btn search-btn" value="Search"><i class="fas fa-search"></i></button>
		        </form>
             </div>
	    </div>
    </div><!--//page-header-->
   <div class="page-content">
	    <div class="container">
		    <div class="docs-overview py-5">
			    <div class="row justify-content-center">
					{% for rec in subjects %}
				    <div class="col-12 col-lg-4 py-3">
					    <div class="card shadow-sm">
						    <div class="card-body">
							    <h5 class="card-title mb-3">
									{% if  rec.subject_icon %}
									<img src="{{ rec.subject_icon }}"/>
									{% else %}
								    <span class="theme-icon-holder card-icon-holder me-2">
								        <i class="fas fa-map-signs"></i>
							        </span><!--//card-icon-holder-->
									{% endif %}
							        <span class="card-title-text">{{ rec.subject_name }}</span>
							    </h5>
							    <div class="card-text">
								    {{rec.subject_description | safe |slice:":220"}} <bold>........Read more</bold>
							    </div>
								 <a class="card-link-mask" href="{{rec.subject_slug}}/{{ rec.topic_slug}}"></a>
						    </div><!--//card-body-->
					    </div><!--//card-->
				    </div><!--//col-->
					{% endfor %}


			    </div><!--//row-->
		    </div><!--//container-->
		</div><!--//container-->
    </div><!--//page-content-->

    <section class="cta-section text-center py-5 theme-bg-dark position-relative">
	    <div class="theme-bg-shapes-right"></div>
	    <div class="theme-bg-shapes-left"></div>
	    <div class="container">
		    <h3 class="mb-2 text-white mb-3">Launch Your Software Project Like A Pro</h3>
		    <div class="section-intro text-white mb-3 single-col-max mx-auto">Want to launch your software project and start getting traction from your target users? Check out our premium <a class="text-white" href="https://themes.3rdwavemedia.com/bootstrap-templates/startup/coderpro-bootstrap-5-startup-template-for-software-projects/">Bootstrap 5 startup template CoderPro</a>! It has everything you need to promote your product.</div>
		    <div class="pt-3 text-center">
			    <a class="btn btn-light" href="https://themes.3rdwavemedia.com/bootstrap-templates/startup/coderpro-bootstrap-5-startup-template-for-software-projects/">Get CoderPro<i class="fas fa-arrow-alt-circle-right ml-2"></i></a>
		    </div>
	    </div>
    </section><!--//cta-section-->

    {% include "layout/footer.html" %}
       
    <!-- Javascript -->
<!--    <script src="assets/plugins/popper.min.js"></script>-->
   <script src="{% static "assets/plugins/popper.min.js" %} "></script>
    <script src="{% static "assets/plugins/bootstrap/js/bootstrap.min.js" %}"></script>

    <!-- Page Specific JS -->
    <script src="{% static "assets/plugins/smoothscroll.min.js" %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/highlight.min.js"></script>
    <script src="{% static "assets/js/highlight-custom.js" %} "></script>
    <script src="{% static "assets/plugins/simplelightbox/simple-lightbox.min.js" %}"></script>
    <script src="{% static "assets/plugins/gumshoe/gumshoe.polyfills.min.js" %}"></script>
    <script src="{% static "assets/js/docs.js" %}"></script>

</body>
</html> 

